@using Microsoft.AspNet.Identity
@model ChessWebsite.Models.Game
@{
    ViewBag.Title = "Game";
}

@section scripts {
    <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
    <script src="~/signalr/js"></script>
    <script src="~/Scripts/ChessSharp.js"></script>
    <script>
        $.connection.hub.qs = 'gameId=@Model.Id';
        $.connection.hub.start()
            .done(function () {
                console.log('connected.');
            })
            .fail(function () {
                alert('Connection failed!');
            });
        // TODO: Be aware of XSS.
        function blackJoined(username) {
            document.getElementById('blackUsername').innerHTML = username;
            @if (User.Identity.GetUserId() == Model.WhitePlayer.Id)
            {
                <text>
                    drawForWhite();
                    showGame('@Html.Raw(Model.GameBoardJson)');
                </text>
            }

            @if (Model.BlackPlayer != null && User.Identity.GetUserId() == Model.BlackPlayer.Id)
            {
                <text>
                    drawForBlack();
                    showGame('@Html.Raw(Model.GameBoardJson)');
                </text>
            }
            document.getElementById('how-to-invite').setAttribute('class', 'hide');
        }

        $.connection.chessHub.client.blackJoined = blackJoined;

        @if (Model.BlackPlayer != null && Model.WhitePlayer != null) {
            <text>blackJoined('@Model.BlackPlayer.UserName');</text>
        }
        $(document).ready(function() {
            $('.square').on('click',
                function () {
                    var sourceColor = 'red';
                    var destinationColor = 'red';
                    document.getElementById(this.id).backgroundColor = sourceColor;
                    alert(this.id);
                });
        });

    </script>
}

<h3 class="lead">White player: @Model.WhitePlayer.UserName</h3>
<h3 class="lead">Black player: <span id="blackUsername">@((Model.BlackPlayer == null) ? "waiting for opponent to enter." : Model.BlackPlayer.UserName)</span></h3>
<h4 id="how-to-invite" class="@(Model.BlackPlayer == null ? "lead" : "hide") ">Use this page link to invite a friend.</h4>

<div id="GameBoard"></div>